[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NEXT_PUBLIC_API_BASE_URL = "https://8t5xoom6k6.execute-api.ap-south-1.amazonaws.com"
